.device-panel{

}
div{
    color: #060b26
}

.device{
    /* border-style: solid; */
    display: inline-flex;
    height: 15vh;
    width: 45%;
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2.5%;
    margin-right: 2.5%;
    /* opacity: 90; */
    background: linear-gradient(127.09deg, #548b12 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box;
}

.pumps{
    list-style-type: none;
    background: linear-gradient(127.09deg, #548b12 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box;
    width: 92.5%;
    border-radius: 25px;
    padding-bottom: 1%;
    margin-top: 2.5%;
    margin-right: 2.5%;
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 5%; */
}



h4, h5{
    font-weight: bold;
    margin-left: 1%;
    padding-top: 3.5%;
    align-items: center;
    text-align: center;
    width: 20%;
    font-size: 115%;
}

#b1, #b2, #b3, #b4{
    margin-left: 60%;
    /* float: right; */
    /* width: 5%; */
    height: 60%;
    background-color: #f44336;
    border-radius: 25%;
    padding-left: 2%;
    padding-right: 2%;
}



ul{
    list-style-type: none;
    width: 100%;
    margin-left: 35%;
    /* padding-left: 50%; */
    /* align-items: center;
    justify-content: center; */

}
label {
    /* padding-right: 5%; */
    font-weight: bold;
    width: 10%;

}
.pb{
    margin-right: 1%;
    background-color: rgb(98, 189, 105);
}

 
 
 